<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <label><input type="checkbox" value="Jack" v-model="checkedNames"> Jack</label>
  <label><input type="checkbox" value="John" v-model="checkedNames"> John</label>
  <label><input type="checkbox" value="Mike" v-model="checkedNames"> Mike</label>
  <br>
  <span>Checked names: {{ checkedNames | json }}</span>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      checkedNames: []
    }
  });
  app.checkedNames = ["John"];
</script>
