<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">

  <label v-for="name in names" >
      <input type="checkbox" :value="name" v-model="checkedNames">
      {{ name }}
  </label>

  <br>
  <span>Checked names: {{ checkedNames | json }}</span>
</div>
<script>
  var app = new Vue({
    el: '#app',
    data: function () {
        return {
            names : ["Jack", "John", "Mike", "Leo", "Lay"],
            checkedNames: []
        };
    }
  });
  app.checkedNames = ["John"];
</script>
