<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <div v-for="item in items">
        <input type="text" v-model="item.name">
    </div>
    <button @click="add_item">增加一列</button>
    <button @click="show_item">取值</button>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            items : [
                {"name":"leo"},
                {"name":"mou"},
            ]
        },
        methods : {
            add_item : function () {
                this.items.push({});
            },
            show_item : function () {
                console.log("items", this.items);
                alert(JSON.stringify(this.items));
            }
        }
    })
</script>
